<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.apicloud.navigator.Perspective"
            icon="icons/16_16.png"
            id="com.apicloud.navigator.perspective"
            name="APICloud">
      </perspective>
   </extension>
       <extension
         point="org.eclipse.ui.perspectiveExtensions">
          <perspectiveExtension
                targetID="com.apicloud.navigator.perspective">
             <newWizardShortcut
                   id="com.apicloud.navigator.CreateAPICloudProjectWizard">
             </newWizardShortcut>
             <view
                   id="org.eclipse.ui.navigator.ProjectExplorer"
                   minimized="false"
                   ratio="0.26f"
                   relationship="left"
                   relative="org.eclipse.ui.editorss"
                   visible="true">
             </view>
             <view
                   closeable="false"
                   id="org.tigris.subversion.subclipse.ui.repository.RepositoriesView"
                   minimized="false"
                   moveable="false"
                   ratio="0.26f"
                   relationship="stack"
                   relative="org.eclipse.ui.navigator.ProjectExplorer"
                   standalone="false"
                   visible="true">
             </view>
             <view
                   id="org.eclipse.ui.console.ConsoleView"
                   minimized="false"
                   ratio="0.75f"
                   relationship="bottom"
                   relative="org.eclipse.ui.editorss"
                   visible="false">
             </view>
             <hiddenMenuItem
                   id="org.eclipse.ui.window.showKeyAssist">
             </hiddenMenuItem>
             <hiddenMenuItem id="org.eclipse.search.ui.performTextSearchWorkspace"/>
<hiddenMenuItem id="org.eclipse.search.ui.performTextSearchWorkingSet"/>
<hiddenMenuItem id="org.eclipse.search.ui.performTextSearchFile"/>
<hiddenMenuItem id="org.eclipse.search.ui.performTextSearchProject"/>
<hiddenMenuItem id="org.eclipse.ui.edit.findIncremental"/>
<hiddenMenuItem id="org.eclipse.ui.edit.findIncrementalReverse"/>
<hiddenMenuItem id="org.eclipse.mylyn.tasks.ui.command.openTask"/>
<hiddenMenuItem id="org.eclipse.mylyn.tasks.ui.command.deactivateAllTasks"/>
<hiddenMenuItem id="org.eclipse.mylyn.tasks.ui.command.activateTask"/>
<hiddenMenuItem id="org.eclipse.mylyn.context.ui.commands.open.context.dialog"/>
<hiddenMenuItem id="project"/>
<hiddenMenuItem id="org.eclipse.ui.edit.text.openLocalFile"/>
<hiddenMenuItem id="navigate"/>
<hiddenMenuItem id="edit"/>
<hiddenMenuItem id="org.eclipse.ui.help.helpSearch"/>
<hiddenMenuItem id="org.eclipse.ui.help.dynamicHelp"/>
<hiddenMenuItem id="org.eclipse.ui.window.showKeyAssist"/>
<hiddenMenuItem id="org.eclipse.ui.help.tipsAndTricksAction"/>
<hiddenMenuItem id="org.eclipse.mylyn.doc.actionSet"/>
<hiddenMenuItem id="org.eclipse.ui.cheatsheets.actionSet"/>
<hiddenMenuItem id="org.eclipse.jdt.debug.ui.JDTDebugActionSet"/>
<hiddenMenuItem id="org.eclipse.jdt.ui.edit.text.java.copy.qualified.name"/>
<hiddenMenuItem id="org.eclipse.ui.edit.selectAll"/>
<hiddenMenuItem id="org.eclipse.ui.edit.findReplace"/>
<hiddenMenuItem id="org.eclipse.ui.edit.addBookmark"/>
<hiddenMenuItem id="org.eclipse.ui.edit.addTask"/>
<hiddenMenuItem id="org.eclipse.ui.navigate.addToWorkingSet"/>
<hiddenMenuItem id="org.eclipse.ui.navigate.removeFromWorkingSet"/>
<hiddenMenuItem id="org.eclipse.ui.edit.text.contentAssist.proposals"/>
<hiddenMenuItem id="expandSelectionToMenuId"/>
<hiddenMenuItem id="org.eclipse.wst.sse.ui.structure.select.enclosing"/>
<hiddenMenuItem id="org.eclipse.wst.sse.ui.structure.select.next"/>
<hiddenMenuItem id="org.eclipse.wst.sse.ui.structure.select.previous"/>
<hiddenMenuItem id="org.eclipse.wst.sse.ui.structure.select.last"/>
<hiddenMenuItem id="sourceMenuId"/>
<hiddenMenuItem id="org.eclipse.wst.sse.ui.toggle.comment"/>
<hiddenMenuItem id="org.eclipse.wst.sse.ui.add.block.comment"/>
<hiddenMenuItem id="org.eclipse.wst.sse.ui.remove.block.comment"/>
<hiddenMenuItem id="org.eclipse.ui.edit.text.shiftLeft"/>
<hiddenMenuItem id="org.eclipse.ui.edit.text.shiftRight"/>
<hiddenMenuItem id="org.eclipse.wst.sse.ui.cleanup.document"/>
<hiddenMenuItem id="org.eclipse.wst.sse.ui.format.document"/>
<hiddenMenuItem id="org.eclipse.wst.sse.ui.format.active.elements"/>
<hiddenMenuItem id="org.eclipse.wst.sse.ui.search.find.occurrences"/>
<hiddenMenuItem id="refactorMenuId"/>
<hiddenMenuItem id="org.eclipse.wst.xsd.ui.refactor.rename.element"/>
<hiddenMenuItem id="org.eclipse.wst.xsd.ui.refactor.makeElementGlobal"/>
<hiddenMenuItem id="org.eclipse.wst.xsd.ui.refactor.makeTypeGlobal"/>
<hiddenMenuItem id="org.eclipse.ui.navigate.goInto"/>
<hiddenMenuItem id="goTo"/>
<hiddenMenuItem id="org.eclipse.ui.navigate.back"/>
<hiddenMenuItem id="org.eclipse.ui.navigate.forward"/>
<hiddenMenuItem id="org.eclipse.ui.navigate.up"/>
<hiddenMenuItem id="org.eclipse.jdt.ui.navigate.gototype"/>
<hiddenMenuItem id="org.eclipse.jdt.ui.navigate.gotopackage"/>
<hiddenMenuItem id="org.eclipse.ui.navigate.goToResource"/>
<hiddenMenuItem id="org.eclipse.wst.sse.ui.goto.matching.bracket"/>
<hiddenMenuItem id="org.eclipse.wst.xml.ui.nextSibling"/>
<hiddenMenuItem id="org.eclipse.wst.xml.ui.previousSibling"/>
<hiddenMenuItem id="org.eclipse.mylyn.tasks.ui.command.goToPreviousUnread"/>
<hiddenMenuItem id="org.eclipse.mylyn.tasks.ui.command.goToNextUnread"/>
<hiddenMenuItem id="org.eclipse.jdt.ui.edit.text.java.open.editor"/>
<hiddenMenuItem id="org.eclipse.jdt.ui.edit.text.java.open.type.hierarchy"/>
<hiddenMenuItem id="org.eclipse.jdt.ui.edit.text.java.open.call.hierarchy"/>
<hiddenMenuItem id="org.eclipse.ui.edit.text.open.hyperlink"/>
<hiddenMenuItem id="org.eclipse.jdt.ui.edit.text.java.open.implementation"/>
<hiddenMenuItem id="org.eclipse.jdt.ui.edit.text.java.open.super.implementation"/>
<hiddenMenuItem id="org.eclipse.jdt.ui.edit.text.java.open.external.javadoc"/>
<hiddenMenuItem id="org.eclipse.jdt.debug.ui.command.OpenFromClipboard"/>
<hiddenMenuItem id="org.eclipse.jdt.ui.navigate.open.type"/>
<hiddenMenuItem id="org.eclipse.jdt.ui.navigate.open.type.in.hierarchy"/>
<hiddenMenuItem id="org.eclipse.ui.navigate.openResource"/>
<hiddenMenuItem id="org.eclipse.pde.ui.openPluginArtifact"/>
<hiddenMenuItem id="org.eclipse.egit.ui.team.OpenCommit"/>
<hiddenMenuItem id="org.eclipse.mylyn.tasks.ui.command.openRemoteTask"/>
<hiddenMenuItem id="org.eclipse.jdt.ui.edit.text.java.gotoBreadcrumb"/>
<hiddenMenuItem id="showIn"/>
<hiddenMenuItem id="viewsShowIn"/>
<hiddenMenuItem id="org.eclipse.mylyn.task.ui.editor.QuickOutline"/>
<hiddenMenuItem id="org.eclipse.ui.navigate.next"/>
<hiddenMenuItem id="org.eclipse.ui.navigate.previous"/>
<hiddenMenuItem id="org.eclipse.ui.edit.text.gotoLastEditPosition"/>
<hiddenMenuItem id="org.eclipse.ui.navigate.backwardHistory"/>
<hiddenMenuItem id="org.eclipse.ui.navigate.forwardHistory"/>
<hiddenMenuItem id="org.eclipse.ui.project.openProject"/>
<hiddenMenuItem id="org.eclipse.ui.project.closeProject"/>
<hiddenMenuItem id="org.eclipse.team.ui.ConfigureProject"/>
<hiddenMenuItem id="org.eclipse.ui.project.buildAll"/>
<hiddenMenuItem id="org.eclipse.ui.project.buildProject"/>
<hiddenMenuItem id="org.eclipse.jface.action.MenuManager"/>
<hiddenMenuItem id="org.eclipse.ui.internal.ide.actions.BuildSetMenu"/>
<hiddenMenuItem id="org.eclipse.ui.project.cleanAction"/>
<hiddenMenuItem id="org.eclipse.ui.project.buildAutomatically"/>
<hiddenMenuItem id="org.eclipse.jdt.ui.generate.javadoc"/>
<hiddenMenuItem id="org.eclipse.team.ui.applyPatch"/>
<hiddenMenuItem id="org.eclipse.ui.project.properties"/>
<hiddenMenuItem id="org.eclipse.ui.run"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.Resume"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.Suspend"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.Terminate"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.StepInto"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.StepOver"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.StepReturn"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.RunToLine"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.ToggleStepFilters"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.RunLast"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.DebugLast"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.ProfileLast"/>
<hiddenMenuItem id="org.eclipse.debug.internal.ui.actions.ProfileHistoryMenuAction"/>
<hiddenMenuItem id="org.eclipse.debug.internal.ui.actions.ProfileWithConfigurationAction"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.OpenProfileConfigurations"/>
<hiddenMenuItem id="org.eclipse.debug.internal.ui.actions.RunHistoryMenuAction"/>
<hiddenMenuItem id="org.eclipse.debug.internal.ui.actions.RunWithConfigurationAction"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.OpenRunConfigurations"/>
<hiddenMenuItem id="org.eclipse.debug.internal.ui.actions.DebugHistoryMenuAction"/>
<hiddenMenuItem id="org.eclipse.debug.internal.ui.actions.DebugWithConfigurationAction"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.OpenDebugConfigurations"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.ToggleBreakpoint"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.ToggleLineBreakpoint"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.ToggleMethodBreakpoint"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.ToggleWatchpoint"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.SkipAllBreakpoints"/>
<hiddenMenuItem id="org.eclipse.debug.ui.commands.RemoveAllBreakpoints"/>
<hiddenMenuItem id="org.eclipse.jdt.debug.ui.commands.AddExceptionBreakpoint"/>
<hiddenMenuItem id="org.eclipse.jdt.debug.ui.commands.AddClassPrepareBreakpoint"/>
<hiddenMenuItem id="breakpointTypes"/>
<hiddenMenuItem id="org.eclipse.debug.ui.actions.BreakpointTypesContribution"/>
<hiddenMenuItem id="com.aptana.js.debug.ui.actions.AddExceptionBreakpoint"/>
<hiddenMenuItem id="com.aptana.js.debug.ui.actions.Watch"/>
<hiddenMenuItem id="com.aptana.debug.ui.commands.Inspect"/>
<hiddenMenuItem id="org.eclipse.jdt.debug.ui.commands.AllReferences"/>
<hiddenMenuItem id="org.eclipse.jdt.debug.ui.commands.AllInstances"/>
<hiddenMenuItem id="org.eclipse.jdt.debug.ui.commands.InstanceCount"/>
<hiddenMenuItem id="org.eclipse.jdt.debug.ui.commands.Watch"/>
<hiddenMenuItem id="org.eclipse.jdt.debug.ui.commands.Inspect"/>
<hiddenMenuItem id="org.eclipse.jdt.debug.ui.commands.Display"/>
<hiddenMenuItem id="org.eclipse.jdt.debug.ui.commands.Execute"/>
<hiddenMenuItem id="org.eclipse.jdt.debug.ui.commands.ForceReturn"/>
<hiddenMenuItem id="org.eclipse.jdt.debug.ui.commands.StepIntoSelection"/>
<hiddenMenuItem id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateMenu"/>
<hiddenMenuItem id="org.eclipse.wst.xml.ui.designMenuId"/>
<hiddenMenuItem id="org.eclipse.wst.xml.ui.disable.grammar.constraints"/>
<hiddenMenuItem id="org.eclipse.wst.xml.ui.reload.dependencies"/>
<hiddenMenuItem id="sed.tabletree.expandAll"/>
<hiddenMenuItem id="sed.tabletree.collapseAll"/>
<hiddenMenuItem id="org.eclipse.ui.window.newWindow"/>
<hiddenMenuItem id="org.eclipse.ui.window.newEditor"/>
<hiddenMenuItem id="org.eclipse.ui.window.savePerspective"/>
<hiddenMenuItem id="org.eclipse.ui.window.closePerspective"/>
<hiddenMenuItem id="org.eclipse.ui.window.closeAllPerspectives"/>
<hiddenMenuItem id="shortcuts"/>
<hiddenMenuItem id="org.eclipse.ui.window.showSystemMenu"/>
<hiddenMenuItem id="org.eclipse.ui.window.showViewMenu"/>
<hiddenMenuItem id="org.eclipse.ui.window.quickAccess"/>
<hiddenMenuItem id="org.eclipse.ui.window.maximizePart"/>
<hiddenMenuItem id="org.eclipse.ui.window.minimizePart"/>
<hiddenMenuItem id="org.eclipse.ui.window.activateEditor"/>
<hiddenMenuItem id="org.eclipse.ui.window.nextEditor"/>
<hiddenMenuItem id="org.eclipse.ui.window.previousEditor"/>
<hiddenMenuItem id="org.eclipse.ui.window.switchToEditor"/>
<hiddenMenuItem id="org.eclipse.ui.window.nextView"/>
<hiddenMenuItem id="org.eclipse.ui.window.previousView"/>
<hiddenMenuItem id="org.eclipse.ui.window.nextPerspective"/>
<hiddenMenuItem id="org.eclipse.ui.window.previousPerspective"/>
<hiddenMenuItem id="openWindows"/>
<hiddenMenuItem id="org.eclipse.mylyn.wikitext.ui.editor.showCheatSheetCommand"/>
<hiddenMenuItem id="org.eclipse.mylyn.tasks.ui.bug.report"/>
<hiddenMenuItem id="org.eclipse.ui.cheatsheets.actions.CheatSheetHelpMenuAction"/>
<hiddenMenuItem id="aptanahelp"/>
<hiddenMenuItem id="com.aptana.jira.ui.commands.submit"/>
<hiddenMenuItem id="com.aptana.portal.ui.command.openStartPage"/>
<hiddenMenuItem id="com.aptana.ui.command.diagnostic"/>
<hiddenMenuItem id="com.aptana.ui.command.viewlog"/>
<hiddenMenuItem id="com.aptana.ui.command.clearlog"/>
<hiddenMenuItem id="org.eclipse.update.ui.updateMenu"/>
<hiddenMenuItem id="org.eclipse.ui.update.findAndInstallUpdates"/>
<hiddenMenuItem id="org.eclipse.ui.update.manageConfiguration"/>
<hiddenMenuItem id="org.eclipse.equinox.p2.ui.sdk.update"/>
<hiddenMenuItem id="org.eclipse.ui.file.close"/>
<hiddenMenuItem id="org.eclipse.ui.file.closeAll"/>
<hiddenMenuItem id="org.eclipse.ui.file.save"/>
<hiddenMenuItem id="org.eclipse.ui.file.saveAs"/>
<hiddenMenuItem id="org.eclipse.ui.file.saveAll"/>
<hiddenMenuItem id="org.eclipse.ui.file.revert"/>
<hiddenMenuItem id="org.eclipse.ui.edit.move"/>
<hiddenMenuItem id="org.eclipse.ui.edit.rename"/>
<hiddenMenuItem id="org.eclipse.ui.file.refresh"/>
<hiddenMenuItem id="converstLineDelimitersTo"/>
<hiddenMenuItem id="org.eclipse.ui.edit.text.delimiter.windows"/>
<hiddenMenuItem id="org.eclipse.ui.edit.text.delimiter.unix"/>
<hiddenMenuItem id="org.eclipse.ui.edit.text.delimiter.macOS9"/>
<hiddenMenuItem id="org.eclipse.ui.file.import"/>
<hiddenMenuItem id="org.eclipse.ui.file.export"/>
<hiddenMenuItem id="reopenEditors"/>
<hiddenToolBarItem id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar"/>
<hiddenToolBarItem id="org.eclipse.mylyn.tasks.ui.command.openTask"/>
<hiddenToolBarItem id="org.eclipse.jdt.ui.actions.OpenProjectWizard"/>
<hiddenToolBarItem id="org.eclipse.ui.edit.text.toggleShowSelectedElementOnly"/>
<hiddenToolBarItem id="org.eclipse.egit.ui.team.OpenCommit"/>
<hiddenToolBarItem id="org.eclipse.jdt.ui.navigate.open.type"/>
<hiddenToolBarItem id="org.eclipse.ui.workbench.navigate"/>
<hiddenToolBarItem id="org.eclipse.ui.navigate.next"/>
<hiddenToolBarItem id="org.eclipse.ui.navigate.previous"/>
<hiddenToolBarItem id="org.eclipse.ui.edit.text.gotoLastEditPosition"/>
<hiddenToolBarItem id="org.eclipse.ui.navigate.backwardHistory"/>
<hiddenToolBarItem id="org.eclipse.ui.navigate.forwardHistory"/>
<hiddenToolBarItem id="org.eclipse.mylyn.tasks.ui.navigate.task.history"/>      
<hiddenMenuItem id="org.eclipse.epp.mpc.ui.command.showMarketplaceWizard"/>
<hiddenMenuItem id="org.eclipse.equinox.p2.ui.sdk.install"/>
<hiddenMenuItem id="org.eclipse.ui.help.helpContents"/> 
          </perspectiveExtension>
   </extension>
   <extension
         id="APICloud"
         name="APICloud"
         point="org.eclipse.core.runtime.products">
       <product
          application="org.eclipse.ui.ide.workbench"
          name="APICloud Studio">
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
       <property
             name="appName"
             value="APICloud Studio">
       </property>
       <property
             name="aboutImage"
             value="icons/16_16.png">
       </property>
       <property
             name="windowImages"
             value="icons/16_16.png,icons/32_32.png">
       </property>
       <property
             name="aboutText"
             value="%aboutText">
       </property>
        <!--property
               name="aboutImage"
               value="icons/16_16.png">
         </property-->
         
    </product>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="1"
            type="new"
            wizardId="com.apicloud.navigator.CreateAPICloudProjectWizard">
         <enablement></enablement>
      </commonWizard>
       <commonWizard
            associatedExtensionId="org.eclipse.ui.navigator.resourceContent"
            menuGroupId="2"
            type="new"
            wizardId="com.apicloud.navigator.TempleteFrameWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            associatedExtensionId="org.eclipse.ui.navigator.resourceContent"
            menuGroupId="2"
            type="new"
            wizardId="com.apicloud.navigator.HtmlWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            associatedExtensionId="org.eclipse.ui.navigator.resourceContent"
            menuGroupId="2"
            type="new"
            wizardId="com.apicloud.navigator.CSSWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            associatedExtensionId="org.eclipse.ui.navigator.resourceContent"
            menuGroupId="2"
            type="new"
            wizardId="com.apicloud.navigator.JavaScriptWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            associatedExtensionId="org.eclipse.ui.navigator.resourceContent"
            menuGroupId="2"
            type="new"
            wizardId="com.apicloud.navigator.JsonWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            associatedExtensionId="org.eclipse.ui.navigator.resourceContent"
            menuGroupId="2"
            type="new"
            wizardId="com.apicloud.navigator.XMLWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            associatedExtensionId="org.eclipse.ui.navigator.resourceContent"
            menuGroupId="2"
            type="new"
            wizardId="com.apicloud.navigator.TXTWizard">
         <enablement></enablement>
      </commonWizard>
      
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
         <category
           id="APICloud_Resource"
           name="%category.name">
     </category>
         <wizard
               category="APICloud_Resource"
               class="com.apicloud.navigator.ui.wizards.TempleteFrameWizard"
               finalPerspective="com.apicloud.navigator.perspective"
               icon="icons/icon/html.png"
               id="com.apicloud.navigator.TempleteFrameWizard"
               name="%frame.name">
      </wizard>
      <wizard
            category="APICloud_Resource"
            class="com.apicloud.navigator.ui.wizards.CreateAPICloudProjectWizard"
            finalPerspective="com.apicloud.navigator.perspective"
            icon="icons/16_16.png"
            id="com.apicloud.navigator.CreateAPICloudProjectWizard"
            name="%project.name"
            project="true">
      </wizard>
      <wizard
            category="APICloud_Resource"
            class="com.apicloud.navigator.ui.wizards.HtmlWizard"
            finalPerspective="com.apicloud.navigator.perspective"
            icon="icons/icon/html.png"
            id="com.apicloud.navigator.HtmlWizard"
            name="%html.name">
      </wizard>
      <wizard
            category="APICloud_Resource"
            class="com.apicloud.navigator.ui.wizards.JsonWizard"
            finalPerspective="com.apicloud.navigator.perspective"
            icon="icons/icon/js.png"
            id="com.apicloud.navigator.JsonWizard"
            name="%json.name">
      </wizard>
      <wizard
            category="APICloud_Resource"
            class="com.apicloud.navigator.ui.wizards.JavaScriptWizard"
            finalPerspective="com.apicloud.navigator.perspective"
            icon="icons/icon/js.png"
            id="com.apicloud.navigator.JavaScriptWizard"
            name="%js.name">
      </wizard>
      <wizard
            category="APICloud_Resource"
            class="com.apicloud.navigator.ui.wizards.CSSWizard"
            finalPerspective="com.apicloud.navigator.perspective"
            icon="icons/icon/css.png"
            id="com.apicloud.navigator.CSSWizard"
            name="%css.name">
      </wizard>
      <wizard
            category="APICloud_Resource"
            class="com.apicloud.navigator.ui.wizards.TXTWizard"
            finalPerspective="com.apicloud.navigator.perspective"
            icon="icons/icon/text.png"
            id="com.apicloud.navigator.TXTWizard"
            name="%txt.name">
      </wizard>
      <wizard
            category="APICloud_Resource"
            class="com.apicloud.navigator.ui.wizards.XMLWizard"
            finalPerspective="com.apicloud.navigator.perspective"
            icon="icons/icon/xml.png"
            id="com.apicloud.navigator.XMLWizard"
            name="%xml.name">
      </wizard>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.apicloud.navigator.handlers.WelcomeHandler"
            id="com.apicloud.navigator.welcomeCommnd"
            name="%Welcome.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="com.apicloud.navigator.actions.RunAsAppFormMobileCommand"
            id="com.apicloud.navigator.actions.RunAsAppFormMobileCommand"
            name="%syncPhone.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="com.apicloud.navigator.actions.CustomLoaderLoaderCommand"
            id="com.apicloud.navigator.actions.CustomLoaderLoaderCommand"
            name="%compileLoader.name">
      </command>
      <command
            defaultHandler="com.apicloud.navigator.handlers.CustomerLoaderHelpHandler"
            id="com.apicloud.navigator.perspective.customeLoaderHelp"
            name="%customLoaderHelp.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
    
      <key
            commandId="com.apicloud.navigator.actions.RunAsAppFormMobileCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.apicloud.navigator.miner.accelerator"
            sequence="M1+R">
      </key>
      <key
            commandId="com.apicloud.navigator.actions.CustomLoaderLoaderCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.apicloud.navigator.miner.accelerator"
            sequence="M1+W">
      </key>
      <scheme
            id="com.apicloud.navigator.miner.accelerator"
            name="mineraccelerator"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.apicloud.navigator.APICloudActionSet"
            label="APICloud"
            visible="true">
            
             <action
                   class="com.apicloud.navigator.ui.actions.VersionAction"
                   icon="icons/icon/version.png"
                   id="com.apicloud.navigator.VersionAction"
                   label="%version.name"
                   style="push"
                   toolbarPath="addion">
         </action>
         <action
               class="com.apicloud.navigator.ui.actions.UpdateAction"
               icon="icons/icon/check.png"
               id="com.apicloud.UpdateAction"
               label="%update.name"
               style="push"
               toolbarPath="addion">
         </action>
         <action
               class="com.apicloud.navigator.ui.actions.OpenDocumentAction"
               icon="icons/icon/doc.png"
               id="com.apicloud.navigator.OpenDocAction"
               label="%doc.name"
               style="push"
               toolbarPath="addion">
         </action>
         <action
               class="com.apicloud.navigator.ui.listener.CloudPackageAppItem"
               icon="icons/icon/cloud.png"
               id="com.apicloud.navigator.PackageCloudAppAction"
               label="%cloudPackage.name"
               style="push"
               toolbarPath="addion">
         </action>
         <action
               class="com.apicloud.navigator.ui.listener.PackageAppItem"
               icon="icons/icon/package.png"
               id="com.apicloud.navigator.PackageAppAction"
               label="%package.name"
               style="push"
               toolbarPath="addion">
         </action>

         <action
               class="com.apicloud.navigator.ui.actions.RunAsAppFormMobile"
               icon="icons/run.png"
               id="com.apicloud.loader.sycnMobileAction"
               label="%syncPhone.name"
               style="push"
               toolbarPath="addion">
         </action>
         <action
               class="com.apicloud.navigator.ui.delegate.OpenAPICloudWizardActionDelegate"
               icon="icons/icon/hello.png"
               id="com.apicloud.navigator.openAPICloudWizardAction"
               label="%openWelcomePage.name"
               style="push"
               toolbarPath="addion">
         </action>
         <action
               class="com.apicloud.navigator.ui.delegate.SyncSVNPathActionDelegate"
               icon="icons/icon/refresh.png"
               id="com.apicloud.navigator.SyncSVNActioin"
               label="%svnAction.name"
               style="push"
               toolbarPath="addion">
         </action>
         <action
               class="com.apicloud.navigator.ui.actions.AdvancedSettingsAction"
               icon="icons/icon/setting.png"
               id="com.apicloud.navigator.settingAction"
               label="%label.name"
               style="push"
               toolbarPath="addion">
         </action>
         <action
               class="com.apicloud.navigator.ui.actions.LogAction"
               icon="icons/icon/log.png"
               id="com.apicloud.navigator.LogAction"
               label="%log.name"
               style="push"
               toolbarPath="addion">
         </action>
            
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.apicloud.navigator.ui.editors.APICloudMapConfigEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            filenames="config.xml"
            icon="icons/16_16.png"
            id="com.apicloud.navigator.editors.APICloudConfigEditor"
            name="%editor.name">
      </editor>
      <editor
            class="com.apicloud.navigator.ui.editors.APICloudWizardEditor"
            default="false"
            id="com.apicloud.navigator.APICloudWizard"
            name="%welcomePage.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help?before=about">
         <command
               commandId="com.apicloud.navigator.welcomeCommnd"
               label="%WelcomeMenu.name"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="com.apicloud.navigator.toolbar">
            <control
                  class="com.apicloud.navigator.ui.APICloudWorkbenchWindowControlContribution"
                  id="APICloud.home">
            </control>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="com.apicloud.navigator.toolbar1">
            <control
                  class="com.apicloud.navigator.ui.SignInButton"
                  id="apicloud.signin">
            </control>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?before=about">
         <command
               commandId="com.apicloud.navigator.perspective.customeLoaderHelp"
               label="%customLoaderHelp.name"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.apicloud.navigator.start.APICloudWizardStart"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.apicloud.navigator.removeCustomerLoader"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.apicloud.navigator.ui.actions.RemoveAppLoaderAction"
               enablesFor="1"
               icon="icons/delet.png"
               id="com.apicloud.navigator.removeCustomerLoader"
               label="%removeLoader.name"
               menubarPath="additions">
         </action>
         <visibility>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.apicloud.navigator.customerAppLoader"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.apicloud.updatemanager.core.CustomLoaderAction"
               icon="icons/icon/loader.png"
               id="com.apicloud.navigator.customerAction"
               label="%compileLoader.name">
         </action>
         <visibility>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.apicloud.navigator.reView"
            nameFilter="*.html"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.apicloud.navigator.ui.actions.ReViewAction"
               enablesFor="1"
               icon="icons/16_16.png"
               id="com.apicloud.navigator.reViewAction"
               label="%reView"
               menubarPath="additions">
         </action>
      </objectContribution>
      <viewerContribution
            id="com.apicloud.navigator.editorReViewAction"
            targetID="com.aptana.editor.html.EditorContext">
         <action
               class="com.apicloud.navigator.ui.actions.ReViewerAction"
               icon="icons/16_16.png"
               id="com.apicloud.navigator.action2"
               label="%reView"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.apicloud.navigator.Package"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.apicloud.navigator.ui.actions.CreateMoblePackageAction"
               icon="icons/package.png"
               id="myPop.newAction"
               label="%package.name"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.apicloud.navigator.RunApp"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.apicloud.navigator.ui.actions.RunAsAppFormMobileAction"
               icon="icons/run.png"
               id="myPop.syncAppAction"
               label="%mobileSyncTest.name">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.apicloud.navigator.actions.RunAsAppFormMobileCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
   </extension>

</plugin>
