<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.apicloud.authentication.splashHandlers.APICloudSplashHandler"
            id="com.apicloud.authentication.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.apicloud.navigator.APICloud"
            splashId="com.apicloud.authentication.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>

</plugin>
